# encoding: utf-8
from __future__ import unicode_literals

import sys

from .base import *  # pylint:disable=wildcard-import,unused-wildcard-import


# Бережёного Бог бережёт!
DEBUG = False
# TEMPLATES[0]['OPTIONS']['debug'] = False

EMAIL_HOST = 'localhost'
ADMINS = (
    ('Stanislav Posonsky', 'psk@cpositive.ru'),
)
MANAGERS = ADMINS

SECRET_KEY = '{{ django_secret_key }}'
ALLOWED_HOSTS = {{ allowed_hosts }}

STATIC_ROOT = '{{ backend_static_dir }}'

ROOT_URLCONF = 'cpz.urls.production'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': root('db/{{ db_name }}.db'),
        'USER': '',
        'PASSWORD': '',
        # 'PORT': 5433,
    },
}

STATICFILES_DIRS += (
    root('frontend/dist'),
)

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'formatters': {
        'simple': {
            'format': '%(module)s: %(message)s'
        },
        'standard': {
            'format': '[%(asctime)s] %(levelname)s [%(name)s:%(lineno)s]'
                '%(message)s',
            'datefmt': '%Y-%b-%d %H:%M:%S',
        },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'logfile': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': '%s/%s' % ('{{ logs_home }}', 'django.log'),
            'maxBytes': 50000,
            'backupCount': 3,
            'formatter': 'standard',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['logfile'],
            'propagate': True,
        },
        'django.request': {
            'handlers': ['logfile'],
            'level': 'ERROR',
            'propagate': True,
        },
       'cfg_mgr.tasks': {
            'handlers': ['logfile'],
            'level': 'INFO',
            'propagate': True,
        },
        '*': {
            'handlers': ['logfile'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}


# *****************************************************************************
#
# Настройки приложений
#
# *****************************************************************************
