upstream varnish {
  server [::1]:{{ varnish_proxy_port }} fail_timeout=0;
}

# Static server
server {
  listen [::1]:80;
  server_name local.cpositive.ru; # default_server;

  root /var/www/cpositive.ru/htdocs;

  location /static {
    alias /opt/static/cpz;
    aio on;
    directio 512;
    output_buffers 8 256k;

    sendfile on;
    sendfile_max_chunk 1m;
    tcp_nopush on;
    tcp_nodelay on;

    expires 30d;
    access_log off;
  }
}

# See https://mozilla.github.io/server-side-tls/ssl-config-generator/
server {
  listen {{ cpz_http_port }};
  server_name {{ cpz_http_hostname }} www.{{ cpz_http_hostname }};
  return 301 https://{{ cpz_http_hostname }}$request_uri;
}

server {
  listen {{ cpz_http_ssl_port }} ssl http2;
  server_name www.{{ cpz_http_hostname }};
  return 301 $scheme://{{ cpz_http_hostname }}$request_uri;
}

server {
  listen {{ cpz_http_ssl_port }} ssl http2 default_server;
  listen [::]:{{ cpz_http_ssl_port }} ssl http2 default_server;

  server_name {{ cpz_http_hostname }};
  # charset utf-8;
  client_max_body_size 48m;

  root /var/www/{{ cpz_http_hostname }}/htdocs;

  ssl_certificate  /etc/letsencrypt/live/cpositive.ru/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/cpositive.ru/privkey.pem;

  ssl_trusted_certificate  /etc/letsencrypt/live/cpositive.ru/chain.pem;

  include snippet-ssl.conf;

  access_log /var/log/nginx/{{ cpz_http_hostname }}.access_log main;
  error_log /var/log/nginx/{{ cpz_http_hostname }}.error_log info;

  location / {
      rewrite ^/favicon.ico$ /static/favicon.ico permanent;
      try_files $uri @proxy;
  }

  location @proxy {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    # enable this if and only if you use HTTPS
    # proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
    # we don't want nginx trying to do something clever with
    # redirects, we set the Host: header above already.
    proxy_redirect off;
    proxy_pass http://varnish;

    proxy_intercept_errors on;
  }

  error_page 500 502 503 504 /502.html;

  location /admin {
    return 403;
  }

  location /static {
    proxy_pass http://varnish;

    sendfile on;
    sendfile_max_chunk 1m;
    tcp_nopush on;
    tcp_nodelay on;

    access_log off;
  }

{% if cpz_http_hostname == 'cpositive.ru' %}

  location /downloads {
    alias /opt/Sites/downloads;
    autoindex on;

    aio on;
    directio 512;
    output_buffers 1 128k;
  }

  location /files {
    alias /opt/Sites/files;

    aio on;
    directio 512;
    output_buffers 1 128k;
  }

{% endif %}
}
