# The path to your uWSGI xml config file.
#
UWSGI_XML_CONFIG=/etc/uwsgi.d/cgit.xml

# The number of child processes to spawn. The default is 1.
#
UWSGI_PROCESSES=1

# The log file path. If empty, log only errors
#
UWSGI_LOG_FILE=/tmp/cgit.log
